.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-buttons-section {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1.5rem 0 .5rem 0;
}

.modal-content-info {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
}

.modal-content-info>.Title {
    color: var(--purple);
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
}

.modal-content-info>span:last-child {
    margin-top: 1rem;
    font-size: .75rem;
}

.modal-content-info>span:last-child>strong:first-child {
    color: var(--purple);
}

.modal-buttons-section>button {
    cursor: pointer;
    border: none;
    height: 2.5rem;
    width: 7rem;
    border-radius: 4px;
    transition: 200ms;
}

.modal-buttons-section>button:hover {
    filter: brightness(.9);
}

.modal-buttons-section>button:first-child {
    background-color: var(--purple);
    color: var(--white);
}

.modal-buttons-section>button:last-child {
    background-color: var(--light-gray);
}