@tailwind components;

@layer components {
    .tags-container {
        @apply flex items-center gap-2 my-2;
    }

    .tag {
        animation-name: expandTags;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-delay: 0ms;
        height: 1.25rem;
        overflow: hidden;

        @apply text-[var(--orange)] border-[1px] border-solid border-[var(--orange)] rounded-3xl py-1 px-3 cursor-default;
    }

    .tags-counter {
        @apply bg-[linear-gradient(90deg,#7811CA,#AB00EC)] p-1 rounded-full text-[var(--white)] cursor-default;
    }
}

@keyframes expandTags {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 1.25rem;
    }
}