@tailwind components;

@layer components {
    .card {
        @apply flex flex-col flex-1 flex-wrap p-4 pb-5 bg-[var(--light-gray)] min-w-[412px] max-w-md rounded-2xl h-fit;
    }

    /* #region list-view*/
    .card-list-view {
        @apply relative w-[calc(100%-2rem)] flex-row min-w-[unset] max-w-[unset] flex-[unset] gap-1;
    }

    .card-list-view>.card-data-container {
        @apply flex items-start gap-6 w-full;
    }

    .card-list-view>.card-data-container>.image-placeholder {
        @apply min-w-[7rem] h-[7rem];
    }

    .card-list-view>.card-data-container>.text-container {
        @apply min-w-[60%];
    }

    .card-list-view>.card-data-container>.content-resume {
        @apply m-[auto_0];
    }

    .card-list-view>.card-data-container>.text-container>.title-container>span {
        @apply absolute right-[1.5%] top-6;
    }

    .card-list-view>.content-container {
        @apply w-full;
    }

    /* #endregion list-view*/

    .image-placeholder {
        @apply relative h-36 bg-[var(--light-purple)] rounded-2xl;
    }

    .text-container {
        @apply flex flex-col m-[0.75rem_0_2rem_0];
    }

    .text-container>span {
        @apply text-[14px] text-[var(--dark-grey)];
    }

    .title-container {
        @apply flex flex-row justify-between items-center h-6;
    }

    .title-container>h3 {
        @apply text-[16px] font-bold;
    }

    .title-container>span>img {
        @apply cursor-pointer;
    }

    .favorite {
        @apply absolute right-2 top-2 cursor-pointer block p-1 bg-[var(--purple)] rounded-full w-5 h-5;
    }

    .favorite>svg {
        @apply w-[inherit] h-[inherit] stroke-white;
    }

    .content-resume {
        @apply flex items-center justify-between cursor-pointer;
    }

    .content-resume>div {
        @apply flex items-center gap-2;
    }

    .content-resume>div>span {
        @apply text-[14px] font-semibold;
    }

    .content-resume>svg {
        transition: 300ms;
        @apply w-6;
    }

    .content-resume>svg.expanded {
        transform: rotate(180deg);
    }

    /* 
    .content-container {
        @apply mt-6;
    } */

    .contents {
        @apply flex flex-col bg-[var(--white)] p-4 mt-6 rounded-xl gap-4;
    }

    @media (max-width: 1400px) {
        .card {
            @apply min-w-[unset] max-w-full flex-[unset] w-full;
        }

        .card-list-view {
            @apply w-[calc(100%-2rem)];
        }

        .card-list-view>.card-data-container>.image-placeholder {
            @apply min-w-24 h-24;
        }

        .card-list-view>.card-data-container>.content-resume {
            position: absolute;
            top: 5.25rem;
            left: 8.5rem;
        }

        .hasTags{
            top: 8rem !important;
        }
    }
}